@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: #dbdbdb;
}

header{
    background: #ffffff;
    height: 20vh;
    display: flex;
    box-sizing: border-box;
    box-shadow: 2px 2px 22px rgb(162, 162, 162);
}


.logo{
    margin-left: 33vh;
}

.logo img{
    
    margin-top: 3vh;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
      font-size: 16px;
}

ul{
    display: flex;
    gap: 5vh;
    margin-top: 3vh;
    margin-left: 4vh;
}

li{
    font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 16px;
}

.logos{
    height: 20vh;
    display: flex;
    align-items: flex-end;
}

.logos img{
    align-items: end;
    margin-left: 18vw;
    margin-bottom: 2VH;
}

section.page1 img{
    border-radius: 20px;
    height: 35vw;
    margin-top: 2vw;
}

section.page1{
    display: flex;
    justify-content: center;
}

.product{
    margin-top: 10vh;
}

.product h1{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 56px;
    text-align: center;
}

.section1{
    background: #00000000;
    height: 25vw;
    width: 100vw;
    display: flex;
    margin-top: 15vh;
}

.item1{
    background: rgb(255, 255, 255);
    width: 32vw;
    height: 550px;
    margin-left: 13vw;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 22px #adadad;
}

.item2{
   background: #9b9b9b00;
   width: 50vw;
   height: 550px;
   color: #ffffff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 20vh;
   gap: 4vh;
}

.item2 h2{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 34px;
    color: black;
}

.item2 p{
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    color: black;
}

.item2 h3{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: black;
}

.section2{
    background: #00000000;
    height: 25vw;
    width: 100vw;
    display: flex;
    margin-top: 15vh;
    flex-direction: row-reverse;
}

.item3{
    background: rgb(255, 255, 255);
    width: 38vw;
    height: 550px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 22px #adadad;
    margin-right: 42vh;
}

.item4{
   background: #9b9b9b00;
   width: 50vw;
   height: 550px;
   color: #ffffff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 30vh;
   gap: 4vh;
}

.item4 h2{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 34px;
    color: black;
}

.item4 p{
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    color: black;
}

.item4 h3{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: black;
}